<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<% for entry in @entries %>
  <div class="row">
    <%= entry["title"] %>
  </div>

  <div class="row">
    <%= entry["occurred_on"] %>
  </div>

  <div class="row">
    <%= entry["description"] %>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </div>

<div class="row">
  <a href="/places">Back to All Places</a>
</div>